<button (click)="addModalContact()">Crear contacto</button>

<table>
  <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr *ngFor="let contact of this.contacts">
      <td>{{contact.nombre}}</td>
      <td>{{contact.apellido}}</td>
      <td>{{contact.email}}</td>
      <td><button (click)="deleteContact(contact)" >Borrar</button></td>
    </tr>
  </tbody>
</table>
<app-manage-contact [contact]="contactToAdd" (contactsUpdated)="createContactList($event)"></app-manage-contact>
