
<div class="grid-container">
  <h1 class="mat-h1">Lista de Contactos en su nube</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">
    <mat-icon fontIcon="add"></mat-icon>
  </button>
  <app-table (contacts)="childContacts($event)" ></app-table>
  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <ul>
      <li *ngFor="let post of contacts | async">
        <div class="card">
          <div class="card-content">
            <p class="id"><small>ID: {{ post.id }}</small></p>
            <p>{{ post.nombre }}</p>
            <a class="button is-danger is-small" >Eliminar</a>
          </div>
        </div>
      </li>
    </ul>
  </mat-grid-list> -->
  <!-- <div class="notification is-danger" *ngIf="(this.contacts | async).length == 0">
    Sin Posts :(
  </div> -->
</div>

